<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271279357234-92ijr9sl99690k9v1ntdmmumm9ruqvoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271279357234-92ijr9sl99690k9v1ntdmmumm9ruqvoq</string>
	<key>API_KEY</key>
	<string>AIzaSyBg_7ozBsK3CgXIDCSZ9dxpbhrcn67rs-M</string>
	<key>GCM_SENDER_ID</key>
	<string>271279357234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.universidad.agro.anima</string>
	<key>PROJECT_ID</key>
	<string>universidadagro-ccb6a</string>
	<key>STORAGE_BUCKET</key>
	<string>universidadagro-ccb6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271279357234:ios:95757ba7c062c0438a2b2b</string>
</dict>
</plist>